/.vs
/Game/bin
/Game/obj
/Game/EagleIsland-Addons.csproj.user
/Tools/bin
/Tools/obj
/Tools/EagleIslandStudio.csproj.user
/Game/CelesteGL.exe
/InputViewer/bin
/InputViewer/obj
/InputViewer/TASViewer.csproj.user
LevelFiles/*.ltm
/Game/deploy.bat

